.portfolio {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;

  @media screen and (max-width: 991px) {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
