.dev-information {
  background: var(--dark);
  border: 1px solid var(--dark-90);
  border-radius: 12px;
  box-shadow: 0px 4px 6px 0px var(--dark-90);
  margin: 90px 0;
  max-width: 800px;
  min-height: 616px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 100%;

  &-ctn {
    max-width: 800px;
    overflow-y: auto;
    scrollbar-width: none;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-menu {
    background: var(--dark-90);
    border-bottom-left-radius: 12px;
    display: flex;
    gap: 30px;
    padding: 15px 30px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-menu-item {
    background: transparent;
    border: none;
    color: var(--white-100);
    font-size: 14px;
    font-weight: 300;

    &.active {
      color: var(--green-90);
      font-weight: 500;
    }
  }

  &-view {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-view-title {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 12px;
    text-shadow: 
    0 0 10px var(--green-90),
    0 0 20px var(--green-90),
    0 0 40px var(--green-90);
    
    &::after {
      background: var(--green-90);
      border-radius: 100px;
      content: '';
      padding: 2px 0;
      width: 40px;
    }
  }

  &-view-subtitle {
    font-weight: 500;
  }

  &-view-cards {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;

    &.recommender {
      margin-top: 30px;
      row-gap: 40px;
    }
  }

  &-view-card {
    background: var(--dark-90);
    border-radius: 9px;
    display: flex;
    gap: 20px;
    max-width: 371px;
    padding: 16px;
    width: 100%;

    &:last-child {
      grid-column: span 2;
      margin: 0 auto;
    }
  }

  &-view-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-view-card-title {
    font-weight: 500;
  }

  &-view-card-icon {
    background: var(--dark);
    border-radius: 9px;
    height: 60px;
    margin-top: -45px;
    padding: 5px;
    width: 60px;
  }

  &-view-icon-resume {
    background: var(--dark-90);
    border-radius: 9px;
    height: 40px;
    padding: 5px;
    width: 40px;
    z-index: 1;
  }

  &-view-education-title {
    align-items: center;
    display: flex;
    gap: 12px;
  }

  &-view-education-title-text {
    font-size: 22px;
  }

  &-education-item {
    display: flex;
    gap: 12px;
  }

  &-education-item-line {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 40px;
    width: 40px;
  }

  &-education-item-point {
    align-items: center;
    background: var(--dark);
    border: 2px solid var(--green-90);
    border-radius: 50%;
    display: flex;
    height: 11px;
    justify-content: center;
    margin-top: 8px;
    width: 11px;
    z-index: 1;

    &::before {
      animation: point-animation ease-in-out infinite 1.5s;
      background: var(--green-90);
      border-radius: 50%;
      content: '';
      height: 5px;
      width: 5px;
    }
  }

  &-education-ctn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    position: relative;

    &::before {
      background: var(--dark-90);
      content: '';
      height: 100%;
      left: 20px;
      position: absolute;
      top: 0;
      width: 1px;
      z-index: 0;
    }

    &::after {
      background: var(--dark-90);
      background-image: url('../../resources/images/portfolio.svg');
      background-size: contain;
      border: 5px solid var(--dark-90);
      border-radius: 9px;
      // content: url('../../resources//images/portfolio.svg');
      content: '';
      height: 20px;
      left: 20px;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
      width: 20px;
      z-index: 0;
    }
  }

  &-education-info {
    display: flex;
    // max-width: 632px;
    flex: 1;
    flex-direction: column;
    gap: 8px;
  }

  &-education-title {
    font-size: 18px;
    font-weight: 500;
  }

  &-education-date {
    color: var(--green-90);
    font-size: 14px;
    font-weight: 500;
  }

  &-education-description {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }

  &-skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-skills-ctn {
    background: var(--dark-90);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
  }

  &-skills-item {
    align-items: center;
    display: flex;
    gap: 12px;

    p {
      min-width: 92px;
      text-shadow: 
      0 0 10px var(--green-90),
      0 0 20px var(--green-90),
      0 0 40px var(--green-90);
    }
  }

  &-skills-bar-ctn {
    background: var(--dark);
    border-radius: 9px;
    flex: 1;
    height: 20px;
    overflow: hidden;
  }

  &-skills-bar {
    animation: bar-load 2s ease-in-out;
    background: var(--green-90);
    height: 100%;
  }

  &-show-more-button {
    background: var(--dark);
    border: none;
    border-radius: 9px;
    color: var(--green-90);
    cursor: pointer;
    margin: 0 auto;
    padding: 8px 16px;
    transition: all ease-in-out 1s;
    width: max-content;

    &:hover {
      color: transparent;
      overflow: hidden;
      position: relative;

      &::before {
        align-items: center;
        animation: button-hover 1s ease-in-out;
        background: var(--green-90);
        border-radius: 9px;
        color: var(--dark);
        content: 'Show More';
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  &-portfolio-filter {
    display: flex;
    gap: 12px;
  }

  &-portfolio-filter-item {
    background: transparent;
    border: none;
    color: var(--white-100);
    cursor: pointer;

    &.selected {
      color: var(--green-90);
      font-weight: 500;
    }
  }

  &-portfolio-projects {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  &-portfolio-project-card {
    border: 1px solid var(--dark-90);
    border-radius: 9px;
    box-shadow: 0px 4px 6px 0px var(--dark-90);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 240px;
    padding: 5px;
    width: 100%;

    &:hover {
      box-shadow: 0px 4px 6px 0px var(--green-90);
    }
  }

  &-portfolio-project-img {
    aspect-ratio: 16/9;
    background: var(--dark-90);
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
  }

  &-portfolio-project-card p {
    color: var(--white-100);
    font-size: 18px;
    font-weight: 500;
    padding: 0 5px;

    &:nth-child(3) {
      color: var(--white-90);
      font-size: 14px;
      font-weight: 300;
    }
  }

  @media screen and (max-width: 991px) {
    margin: 0;
    
    &-ctn {
      margin-bottom: 16px;
      overflow: inherit;
      overflow-y: inherit;
      width: calc(100% - 32px);
    }
  }

  @media screen and (max-width: 562px) {
    padding-top: 50px;

    &-menu {
      border-bottom-left-radius: 0;
      justify-content: center;
      width: 100%
    }

    &-view-cards {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

@keyframes point-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes bar-load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes button-hover {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
